<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="함께마당" />
    <title>함께마당 기초 레이아웃</title>
</head>
<body id="main">
    <!-- 본문 바로가기 (키보드 접근) -->
    <div id="wrapper" class="">

        <div id="container" class="main">
            <section id="section1" class="section">
                
            </section>
            <section id="section2" class="section">

            </section>
            <section id="section3" class="section">

            </section>
        </div>
    </div>
</body>
</html>