.admin-banner-page {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  font-family: "Noto Sans KR", sans-serif;
}

.admin-banner-page h3 {
  margin-top: 44px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.admin-banner-detail h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* 비활성 배너 행 */
.table tr.row-disabled td {
  background-color: #f5f5f5; /* 연한 회색 */
  color: #999;              /* 글자 색도 흐리게 */
}

/* 하단 버튼 */
.banner-button {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  width: 100%;
  padding: 20px;
}