/* @import "../style/bbsTemplate.css";

.qna-question {
  background-color: #fff;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.qna-answer {
  background-color: #fcf8f2;
  padding: 10px 20px;
  border-left: 4px solid #f0b66d;
  margin-bottom: 10px;
} */
