.mypage-reserve-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.reserve-header h3{
  margin-top: 44px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.mypage-reserve-wrapper h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reserve-tabs {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}



.reserve-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 50px;
  table-layout: fixed;
}

.reserve-table th, .reserve-table td {
  border: 1px solid #999;
  padding: 12px;
  text-align: center;
}

.reserve-table th:nth-child(1),
.reserve-table td:nth-child(1) { width: 15%; } /* 예약코드 */

.reserve-table th:nth-child(2),
.reserve-table td:nth-child(2) { width: 25%; } /* 신청일 */

.reserve-table th:nth-child(3),
.reserve-table td:nth-child(3) { width: 20%; } /* 예약일 */

.reserve-table th:nth-child(4),
.reserve-table td:nth-child(4) { width: 20%; } /* 예약유형 */

.reserve-table th:nth-child(5),
.reserve-table td:nth-child(5) { width: 20%; } /* 예약상태 */