/* @import "../style/bbsTemplate.css";

.notice-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.notice-top-btns {
  text-align: right;
  margin-bottom: 10px;
}

.notice-top-btns button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.notice-table {
  width: 100%;
  border-collapse: collapse;
}

.notice-table th,
.notice-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.notice-table th {
  background-color: #f5f5f5;
}

<<<<<<< HEAD
.search-bar {
  display: flex;
  justify-content: center; 
  gap: 8px;
  margin-bottom: 15px;
}

.search-bar select,
.search-bar input,
.search-bar button {
  padding: 6px;
  font-size: 14px;
} */
 
.bbs-table {
 border-radius:20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
